<h2><%= link_to "Create New User", "signup" %></h3>

List of users:
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>

