<div class="admin_info">
  <a href="<%= admin_path(current_admin) %>">
   	<% if current_admin.league_url != nil %>
   		<%= link_to league_logo, root_path %>
    <% else %>
    	<small>(set league logo image URL in 'Settings')</small>
    <% end %>
     <span class="admin_name">
      </br>
      <%= current_admin.name %>
    </span>

	<% unless current_admin.challenges.empty? %>
		<% @challenges = current_admin.challenges %>
  		<b>Challenges</b>
  		<table class="challenges" summary="league challenges">
  		<%= render @challenges %>
  		</table>
	<% end %>

  </a>
</div>
